torch==2.8.0
torchvision
torchaudio
scikit-image
omegaconf
opencv-contrib-python
imgaug
ninja
timm
albumentations
jupyterlab
scipy
joblib
scikit-learn
ruamel.yaml
trimesh
pyyaml
imageio
open3d
transformations
einops
gdown
nodejs
xformers
huggingface-hub
